build/
build.nosync/
bin/
bin_rel/
.vscode
dist/
3rdparty*
*.sublime-workspace
copy_lib
*.sublime-project
*.code-workspace
__pycache__
*.obj
*.pyc
*.vtu
*.pvd
*.egg-info
*.so
temp-plot.html
data*
*libTracyClient.*
.cache/
